.aboutPerson {
    width: 460px;
    height: 473px;
    object-fit: cover;
    object-position: 30% 50%;
    border-radius: 10px;
}

.aboutParts {
    width: 327px;
    height: 332px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}