.slideImage {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

.slideGradient {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.84) 31%, rgba(255, 255, 255, 0) 99%);
}

.bannerHeading {
    line-height: 75px;
    font-size: 60px;
}

.smallBannerImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

.gradient {
    width: 100%;
    overflow-x: hidden;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.7539390756302521) 61%, rgba(255, 255, 255, 0) 100%);
}